<body class="all">
  <ion-content [fullscreen]="true">
    <ion-grid class="grid">
        <ion-row  >
          <ion-col class="imagen" size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MME73_AV2?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1632861338000" width="300px">
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col size-xs="6" size-sm="6" size-md="12" size-lg="12" class="Titulo">
            AIR-PODS
          </ion-col>
        </ion-row>
        <ion-row  >
          <ion-col class="Descripción" size-xs="6" size-sm="6" size-md="12" size-lg="12">
            Los AirPods son livianos y ofrecen un diseño contorneado. Se asientan en el ángulo correcto para mayor comodidad y para dirigir mejor el audio a su oído. El vástago es un 33 por ciento más corto que el de los AirPods (segunda generación) e incluye un sensor de fuerza para controlar fácilmente la música y las llamadas.
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>
</body>