<body class="all">
  <ion-content [fullscreen]="true">
    <ion-grid class="grid" >
      <ion-row>
        <ion-col class="grid" size-xs="12" size-sm="12" size-md="6" size-lg="4">
          Soy la columna 1
        </ion-col>
        <ion-col class="grid" size-xs="12" size-sm="12" size-md="6" size-lg="4">
          Soy la columna 2
        </ion-col>
        <ion-col class="grid" size-xs="12" size-sm="12" size-md="6" size-lg="4">
          Soy la columna 3
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</body>
